/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 200px;) {
  .sidenav {
    padding: 15px;
  }
  .row.content {height: auto;} 
}