{% extends 'base.html' %}
{% block content %}


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="navbar-wrapper">
    <div class="container-fluid">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Endless Pawsibilities</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <img class="pull-left" src="/static/images/heart_opt.png">
          </div>
        </div>
      </nav>

    </div>
  </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/images/puppy.png">
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/static/images/titan.png">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/static/images/gracie.png">
          <div class="container">
            </div>
        </div>
        <div class="item">
          <img class="fourth-slide" src="/static/images/twiskers.png">
          <div class="container">
        </div>
        </div>

        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- Site description
    ================================================== -->
 <!-- START THE FEATURETTES -->

      <!--<hr class="featurette-divider">-->
      <div class="row featurette" style="padding: 10px;">
        <div class="col-md-5">
          <p class="lead">Endless Pawsibilities provides a service for animals rescues to create their own webpage. Just sign up for an account and add your animal rescue to Endless Pawsibilities to have your animal rescue displayed to the public!</p>
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <br>
    <br>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      {% for rescue in rescues %}
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{{ rescue.img_url }}" alt="Generic placeholder image" width="140" height="140">
          <h2>{{ rescue.name }}</h2>
          <p><a class="btn btn-default" href="/rescue/{{ rescue.rescue_id }}" role="button">View details &raquo;</a></p>
          <br>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="/admin-login">Administration: Login</a> &middot; <a href="/admin-signup">Register</a></p>
        <p><a href="#">Contact Developer</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

{% endblock %}

